<header>
  <div class="header-logo">
    <a href="/">シフト管理アプリ</a>
  </div>
  <ul class="header-menus">
  </ul>
</header>

<div class="main shift-index">
  <div class="container">
    <div class="shift-index-item">
      シフト一覧ページ作成中！
    </div>
  </div>
</div>

<div id="calendar"></div>
