

<%= hidden_field_tag "authenticy_token", form_authenticity_token %>

<div class="main shift-index">
  <div class="container">
      <% if @error_message %>
        <div class="form-error">
          <%= @error_message %>
        </div>
      <% end %>
    
  </div>
    <div id="calendar">

    </div>
</div>

