<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">給料計算</h1>

    <% if @error_message %>
      <div class="form_message">
        <%= @error_message %>
      </div>
    <% end %>

    <div class="accbox">
      <label for="year">2019</label>
      <input type="checkbox" id="year" class="cssacc" />
      <div class="accshow">
        
        <% @monthly.each do |month| %>
          <p><%= @tmp %>月度 <%= month %> 円 </P>
          <% @tmp+= 1 %> <% @total += month %>
          <% end %>
          <p>合計: <%= @total %> 円 </p>
      <div>
          
    </div>
  </div>
</div>
