<div class="main users-index">
  <div class="container">
    <div class="form-heading">新規ユーザー登録</div>
      <div class="form users-form">
        <div class="form-body">
          
        </div>
      </div>
  </div>
</div>
