<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">ユーザ設定</h1>

    <div class="accbox">
      <label for="changepass">パスワード設定</label>
      <input type="checkbox" id="changepass" class="cssacc" />
      <div class="accshow">
        <!-- ここに隠す中身-->
        <p>
          パスワード変更用
        </p>
      </div>

      <label for="userlogout">ログアウト</label>
      <input type="checkbox" id="userlogout" class="cssacc" />
      <div class="accshow">
        <!--ここに隠す中身 -->
        <a href="#" class="cp_btn">ログアウト</a>
      </div>
      
    </div>
  </div>
</div>
