<header>
  <div class="header-logo">
    シフト共有アプリ
  </div>
  <ul class="header-menus">
    <li>シフト共有アプリ</li>
  </ul>
</header>

<div class="main top-main">
  <div class="top-message">
    <h2>シフト管理アプリ作成中</h2>
    <p>シフト管理ツール作成中</p>
  </div>
</div>
